<div class="nav">
    <div class="center">
        <h1 class="siteTitle center">Save notes for r/NBA posts</h1>
        <button id="saved_notes_btn" class="waves-effect waves-light btn center"><a href="/savedNotes" class="savedCommentsLink">Saved Notes</a></button>
    </div>
</div>

<div class="container-fluid" id="content-container">
    <div class="container" id="articleContainer">
        <div class="card">
            <div class="card-title">
                <h3>Latest r/NBA posts</h3>
            </div>
            <div class="card-content">
                <div id="articles">
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="noteContainer">
        <div class="card">
            <div class="card-content">
                <div id="notes">
                </div>
            </div>
        </div>
    </div>

</div>