<div class="nav">
    <div class="center">
        <h1 class="siteTitle center">Save comments for r/NBA posts</h1>
        <button id="saved_notes_btn" class="waves-effect waves-light btn center"><a href="/" class="savedCommentsLink">Home</a></button>
    </div>
</div>

<div class="container-fluid" id="noteImage">
<div class="container" id="noteContainer">
    <div class="card">
        <div class="card-content">
            <div id="saved_notes"></div>
        </div>
    </div>
</div>
</div>

